@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

//--------SETUP CONFIGS--------//

/* bc === brand color */
$bc-blue: #0077b5;
$bc-light-blue: #00a0dc;
$bc-grey: #e3e6e9;

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

//-------------------------//

*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $bc-light-blue;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

header {
    padding-top: 0.8rem;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 25rem 0 24rem;
    
        .header-btn-container {
            display: flex;
            gap: 1rem;

            .join-btn {
                background-color: transparent;
                border-radius: 5px;
                font-weight: 600;
                color: #818181;
                cursor: pointer;
                transition: background-color .3s ease;

                &:hover {
                    background-color:$bc-grey;
                    color: black;
                }
            }

            .sign-in-btn {
                background-color: transparent;
                border-radius: 50px;
                border: 1px solid $bc-blue;
                color: $bc-blue;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #e6f2ff;
                    border: 2px solid $bc-blue;
                }
            }
        }
    }  
}

/*--------MAIN CONTENT STYLES--------*/
.main-content-container {
    .content-1-container {
        @extend %flex-row;
        justify-content: center;
        align-items: center;
        padding: 0 14rem 0 24rem;
        .content-1-main {
            width: 50%;
            & > h1 {
                font-size: 3.6rem;
                line-height: 4rem;
                font-weight: 300;
                color: rgb(161, 51, 51);
                margin-bottom: 1rem;
            }

            & > form {
                width: 25rem;
                padding-right: 2rem;

                & > .email {
                    width: 100%;
                    height: 3rem;
                    padding: .5rem;
                }

                & > .password {
                    width: 100%;
                    margin: 1rem 0 1rem 0;
                    height: 3rem;
                    padding: .5rem;
                }

                & > p {
                  margin: 1rem 0 0 0;
                  font-weight: 400;
                  font-size: 0.9rem;
                }

                .agree-btn {
                   width: 100%;
                   height: 3.5rem;
                   border-radius: 8rem;
                   margin-bottom: 1.5rem;
                   background-color: $bc-blue;
                   color: white;
                   font-size: 1.2rem;
                   cursor: pointer;

                   &:hover {
                       background-color: #00517c;
                   }
                }

                .hr-div {
                    @extend %flex-row;
                    align-items: center;
                    gap: 1.5rem;
                    
                    hr {
                        width: 250px;
                        height: 0px;
                    }
                }

                .already-btn {
                    width: 100%;
                    height: 3.5rem;
                    border-radius: 8rem;
                    margin-top: 1.5rem;
                    background-color: transparent;
                    border-radius: 50px;
                    border: 1px solid $bc-blue;
                    color: black;
                    font-weight: 500;
                    font-size: 1.3rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #e6f2ff;
                        border: 2px solid $bc-blue;
                        text-decoration: underline;
                    }

                    & > a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .content-2-container {

        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 14rem 5rem 24rem;
        background-color: rgb(236, 236, 236);

        &.transparent {
            background-color: transparent;
        }
        

        & > p {
            font-size: 3rem;
            font-weight: 300;
            align-self: flex-start;
        }

        .buttons-div {
            @extend %flex-col;
            margin-right: 12rem;
            
            & > p {
                width: fit-content;
                margin: 0 0 0.5rem 0.5rem;
                font-size: 1rem;
            }

            .ul-1 {
                width: 40rem;

                .li-set-1 {
                    display: inline-block;
                    width: fit-content;
                    height: 3.5rem;
                    border-radius: 8rem;
                    font-size: 1.2rem;
                    cursor: pointer;
                    list-style: none;
                    background-color: rgb(219, 219, 219);
                    padding: 1rem;
                    text-align: center;
                    margin: 0.5rem;
                    font-weight: 500;
                    transition: background-color 0.1s ease;

                    &:hover {
                        text-decoration: underline;
                        background-color: rgb(179, 179, 179);
                    }
                }
            }
        }
    }

    .content-3-container {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 14rem 5rem 24rem;
        background-color: rgb(247, 241, 233);

        & > p {
            font-size: 2.5rem;
            font-weight: 400;
            color: rgb(177, 92, 36);
            align-self: flex-start;
        }

        & > :last-child {
            width: fit-content;
            height: 3.5rem;
            border: 1px solid black;
            border-radius: 8rem;
            font-size: 1.2rem;
            color: black;
            cursor: pointer;
            padding: 1rem;
            text-align: center;
            margin: 0.5rem;
            font-weight: 400;
            margin-right: 44rem;
            transition: background-color 0.1s ease;

            &:hover {
                text-decoration: underline;
                background-color: rgb(179, 179, 179);
            }
        }
    }

    .content-4-container {
        @extend %flex-col;
        justify-content: space-between;
        align-items: center;
        padding: 12rem 14rem 8rem 24rem;
        background-color: rgb(240, 240, 240);

        & > header {
            align-self: flex-end;
            margin-bottom: 2rem;

            & > :first-child {
                margin-right: 1rem;
            }

            button {
                cursor: pointer;
            }
        }

        #slider {
            overflow: hidden;
            max-width: 100%;
            max-height: 100%;

            .profile-container {
                display: flex;
                flex-direction: row;
                width: 300%;

                .profile-1 {
                    max-width: 81rem;
                    max-height: 28rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 4rem;
                    margin: 0;
    
                    & > img {
                        margin-right: 3rem;
                    }
    
                    .profile-heading {
                        & > h1 {
                            font-size: 2.4rem;
                            font-weight: 400;
                            margin-bottom: 1rem;
                            color: #0054b5;
                            justify-items: center;
                        }
    
                        & > p {
                            font-size: 2rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    .content-5-container {
        padding: 12rem 20rem 8rem 24rem;
        .main-5 {
            @extend %flex-row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10rem;

            .left {
                & > p {
                    font-size: 3.2rem;
                    font-weight: 300;
                    margin-top: 2rem;
                }

                & > li {
                    width: fit-content;
                    height: 3.2rem;
                    margin-top: 2rem;
                    border: 1px solid black;
                    border-radius: 8rem;
                    font-size: 1.2rem;
                    padding: 0.8rem;
                    font-weight: 400;
                    color: rgb(96, 96, 96);
                    list-style: none;
                    cursor: pointer;
                    transition: background-color 0.1s ease;

                    &:hover {
                        text-decoration: underline;
                        background-color: rgb(179, 179, 179);
                    }
                }
            }

            .right {
                & > p {
                    font-size: 3.2rem;
                    font-weight: 300;
                    margin-top: 2rem;
                }

                .dropdown-container {

                    @extend %flex-col;
                    width: 23rem;

                    #drop-down-btn {
                        border: 1px solid rgb(192, 192, 192);
                        border-radius: 0.4rem;
                        padding: 1rem 2rem 1rem 0.1rem;
                        margin-top: 2rem;
                        font-size: 1.2rem;
                        text-align: center;
                        cursor: pointer;
                        color: rgb(102, 102, 102);
                    }
    
                    #dropdown {

                        border: 1px solid rgb(209, 209, 209);
                        cursor: pointer;
                        background-color: white;
                        padding: 1rem;
                        border-radius: 0.4rem;
                        max-height: 25rem;
                        overflow: scroll;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.107);

                        #dropdown-anchors {

                            font-weight: 400;
                            color: rgb(112, 112, 112);

                            & > b {
                                font-weight: 600;
                                color: black;
                            }
                        
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-6-container {
        @extend %flex-row;
        justify-content: flex-start;
        align-items: center;
        padding: 10rem 0 10rem 24rem;
        background-color: #00a0dc;
        background: linear-gradient(90deg, rgba(255,255,255,1) 38%, rgba(205, 227, 255, 0.288) 38%, rgba(205, 227, 255, 0.244) 100%);

        .main-6 {
            @extend %flex-row;
            justify-content: center;
            align-items: center;
            gap: 2rem; 

            & > p {
                font-size: 2.5rem;
                font-weight: 400;
                color: rgb(177, 92, 36);
            }
        }
    }

    .content-7-container {
        @extend %flex-col;
        padding-left: 24rem;

        & > p {
            font-size: 3.5rem;
            font-weight: 300;
            margin-top: 5rem;
        }

        & > button {
            width: 9rem;
            height: 3.5rem;
            border-radius: 2rem;
            font-size: 1.4rem;
            outline: none;
            border: none;
            background-color: $bc-blue;
            color: white;
            margin-top: 1.8rem;
        }
    }

    #footer {
        margin-top: 2rem;
        
        @extend %flex-col;
        background-color: rgb(241, 241, 241);

        & > main {
            @extend %flex-row;
            margin-top: 2rem;
            padding-left: 24rem;

            & > img {
                height: 1.7rem;
                margin-right: 10rem;
            }
            
            & > div {
                margin-right: 8rem;

                & > h6 {
                    margin-bottom: 0.6rem;
                    font-weight: 600;
                }

                & > p {
                    margin-bottom: 0.4rem;
                    font-size: 0.9rem;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                        color: $bc-light-blue;
                    }
                }
            }

        }

        #sub-footer {
            background-color: white;
            padding: 1rem 0rem 1rem 24rem;
            
            #sub-footer-main {
                @extend %flex-row;
                align-items: center;
                gap: 1rem;
            }

            #sub-footer-main p {
                font-size: 0.8rem;
            }
            #sub-footer-main p:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            #sub-footer-logo {
                height: .95rem;
            }
        }
    }
}